:root {
  --wine: #2a070e;
  --coral: #F47358;
  --powder: #D9E0E1;
  --lav: #99A5CD;
  --navy: #02082C;
  --logo: #1F2566;
}

/*fonts*/
.qahiri-regular {
  font-family: "Qahiri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.six-caps-regular {
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-condensed-regular {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ibm-plex-sans-condensed-medium {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.ibm-plex-sans-condensed-semibold {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.ibm-plex-sans-condensed-bold {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.res-alert {
  height: 80vh;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  background: var(--powder);
  color: var(--wine);
}
button.back-btn{
  text-decoration: none;
  color: var(--navy);
}
button.back-btn:hover{
  text-decoration: underline;
  color: var(--coral);
}

#backToTop {
  position: fixed;
  bottom: 124px;
  right: 64px;
  width: 50px;
  height: 55px;
  border-radius: 8px;
  border: none;
  background: var(--coral);
  color: var(--wine);
  font-size: 3rem;
  line-height: 70%;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  z-index: 1000;
}
#backToTop:hover {
  transform: translateY(-4px);
  box-shadow: 1px 2px 3px #02082c98;
}
#backToTop.show {
  opacity: 1;
  pointer-events: auto;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
/*homepage*/
body.index-body {
  background: var(--powder);
  color: var(--wine);
}
/* HERO */
.hero {
  min-height: 98vh;
  background-image: url(assets/jelly.webp);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  box-shadow: inset 0px -5px 8px #130004c1;
}
.hero-content {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
}
.hero-text {
  width: fit-content;
  margin: 0 auto;
}
.hero-title {
  font-family: "Qahiri", sans-serif;
  font-size: clamp(3.6rem, 15vw, 18rem);
  color: var(--lav);
  line-height: 0.9;
  max-width: 75vw;
  margin: 0 auto;
  text-align: left;
  letter-spacing: 0.05em;
}
.hero-title span {
  color: var(--powder);
}
.hero-subtitle {
  font-family: "Six Caps", sans-serif;
  color: var(--coral);
  text-transform: uppercase;
  font-size: clamp(1.2rem, 2.4vw, 4.2rem);
  letter-spacing: clamp(0.11em, 0.25vw, 0.25em);
  line-height: 1;
  padding-left: 3em;
  margin-top: -0.5rem;
  text-align: left;
  text-shadow: 1px 3px 4px #02082c87;;
}
.jump-btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.jump-btn a {
  text-decoration: none;
  color: var(--coral);

  border: 1.5px solid var(--coral);
  border-radius: 8px;

  padding: 0.55em 2.75em;
  font-size: clamp(0.95rem, 1.3vw, 1.15rem);
  letter-spacing: 0.12em;
  text-transform: uppercase;

  display: inline-flex;
  align-items: center;
  gap: 0.5em;

  background-color: transparent;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.12),
    0 4px 12px rgba(0, 0, 0, 0.08);

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.15s ease;
}
.jump-btn a:hover {
  background-color: rgba(244, 114, 88, 0.12);
  border-color: var(--coral);

  transform: translateY(-1px);
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.14),
    0 8px 18px rgba(0, 0, 0, 0.12);
}
.jump-btn a:active {
  transform: translateY(0);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.18);
}
.jump-btn a:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 3px rgba(244, 114, 88, 0.35),
    0 6px 16px rgba(0, 0, 0, 0.15);
}
@media (max-width: 576px) {
  .hero-text {
    width: 100%;
    text-align: center;
  }
  .hero-title,
  .hero-subtitle {
    text-align: center;
    padding-left: 0;
    padding-bottom: .75em;
  }
   .jump-btn a {
    padding: 0.5em 1.5em;
    font-size: 0.95rem;
    letter-spacing: 0.1em;
  }
}
@media (min-width: 1025px){
  .hero-subtitle {
  padding-left: 4em;
  }
}
@media (min-width: 1441px){
  .hero-subtitle {
  padding-left: 0;
  line-height: .5;
  }
}
/* NAV */
.navbar {
  background-color: transparent;
}
.navbar-brand {
  font-family: "Six Caps", sans-serif;
  font-size: clamp(2rem, 3vw, 3.9rem);
  letter-spacing: 0.1em;
}
.navbar-brand a {
text-decoration: none;
color: var(--powder);
}
.navbar-brand a:hover {
  color: var(--lav);
}
body:not(.index-body):not(.nocturnal-body) .navbar-brand a {
  color: var(--wine);
}
body:not(.index-body):not(.nocturnal-body) .navbar-brand a:hover {
  color: var(--coral);
}
body:not(.index-body):not(.nocturnal-body) .btn-pill {
  background-color: var(--wine);
  color: var(--powder);
  border-color: var(--wine);
}
body:not(.index-body):not(.nocturnal-body) .btn-pill:hover {
  background: #2E060F;
  background: linear-gradient(225deg,rgba(46, 6, 15, 1) 0%, rgba(39, 6, 10, 1) 100%)
}
body:not(.index-body):not(.nocturnal-body) .navbar-toggler {
  background-color: #f47258;
}

.btn-pill {
  background-color: #2a070ecc;
  color: var(--coral);

  border: 1.5px solid var(--coral);
  border-radius: 999px;

  padding: 0.35rem 1.25rem;
  font-size: clamp(1rem, 1.4vw, 1.2rem);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.08em;
  

  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.12),
    0 4px 10px rgba(0, 0, 0, 0.08);

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.15s ease;

  margin-left: 1em;
}

.btn-pill:hover {
  background-color: rgba(244, 114, 88, 0.12);
  border-color: var(--coral);
  color: var(--coral);
  transform: translateY(-1px);

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.14),
    0 8px 16px rgba(0, 0, 0, 0.12);
}

.btn-pill:active {
  transform: translateY(0);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.18);
}

.btn-pill:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 3px rgba(244, 114, 88, 0.35),
    0 6px 16px rgba(0, 0, 0, 0.15);
}
.navbar-toggler {
  border: none;
}
.res-tooltip {
  --bs-tooltip-bg: #bdd6dcc4;
  --bs-tooltip-color: var(--wine);
}
@media (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
  }
  .btn-pill {
    padding: 0.3rem 1.25rem;
  }
}
/* ABOUT */
.about-section {
  background: var(--powder);
}
.about-card {
  background: var(--powder);
  padding: 2rem 1rem;
  max-width: 900px;
}
.about-card h2 {
  font-family: "Six Caps", sans-serif;
  font-size: 3.2rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0.75rem;
}
p.about-text {
  line-height: 1.8rem;
}
img.me-drawn {
  mix-blend-mode:color-burn;
}
.about-img {
  min-width: 65px;
  max-width: 100px;
  border-radius: 16px;
  bottom: -10%;
  left: 0;
  position: absolute;
  box-shadow: 1px 2px 2px #02082c87;
}

@media (max-width: 768px) {
  .about-img {
    display: none;
  }
}
/* SKILLS */
.skills-section {
  background: var(--powder);
  color: var(--wine);
  padding: 4rem 1rem;
  box-shadow: 0px -3px 8px #bfbfbf94, inset 0px -3px 8px #bfbfbf94;
}
.skill-content {
  max-width: 1100px;
  margin: 0 auto;
}

.skills-section h2 {
  font-family: "Six Caps", sans-serif;
  font-size: 3.2rem;
  letter-spacing: .15rem;
  margin-bottom: 0.75rem;
}
.skill-card {
  max-width: 900px;
  padding: 2rem;
  margin: auto;
}

.skill-card h5 {
  font-family: "Six Caps", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: var(--coral);
  margin-bottom: 0.75rem;
}

.skill-card ul {
  list-style: none;
  padding-left: 0;
}

.skill-card li {
  font-size: 1rem;
  line-height: 1.7em;
  opacity: 0.85;
}

/*projects*/
.projects-container {
  max-width: 1300px;
}
.projects-container h2 {
  font-family: "Six Caps", sans-serif;
  font-size: 3.2rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0.75rem;
}
.project-card {
  position: relative;
  height: 100%;
  border-radius: 16px;
  min-height: 395px;
  overflow: hidden;
box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3), 3px 5px 10px rgba(0, 0, 0, 0.1);
transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.project-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.project-card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  color: var(--powder);
  position: relative;
  z-index: 2;
}
.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(16, 0, 0, 0.4);
}
.project-card h3 {
  font-family: "Six Caps", sans-serif;
  font-size: 3.7rem;
  letter-spacing: 0.04rem;
  margin-bottom: 0.75rem;
}

.project-card p {
  font-size: 1.1rem;
  margin: 0;
  max-width: 28ch;
  margin-inline: auto;
  text-shadow: 4px 4px  7px #000;
}

.project-arrow {
  font-size: 2rem;
  opacity: 0.8;
}
/* project-lowlight */
.project-card.project-lowlight {
  background-image: url(assets/projects-lowlight.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* project-somia */
.project-card.project-somnia {
  background-image: url(assets/projects-somnia.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;}

/* project-js */
.project-card.project-js {
  background-image: url(assets/project-js.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;}

/* project-logo */
.project-card.project-logo {
  background-image: url(assets/projects-15.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* project-turtle */
.project-card.project-turtle {
  background-image: url(assets/turtle/tur-2.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;}

/* project-barca*/
.project-card.project-barca {
  background-image: url(assets/barca/canoe2.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* project-nocturnal */
.project-card.project-nocturnal {
  background-image: url(assets/nocturnal/jacket-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* project-flora */
.project-card.project-flora {
  background-image: url(assets/flora/flora-home.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/*LOGO*/
body.logo-body {
  background-color: #d9e0e1;
}
body.logo-body footer {
  background-color: #d9e0e1;
}
div.logo-container {
  max-width: 1000px;
}
.logo-container h1 {
  color: var(--logo);
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: .05em;
}
.drafts-logo {
  background: #1F2566;
  background: linear-gradient(212deg, rgba(20, 24, 70, 1) 0%, rgba(31, 37, 102, 1) 90%);
  color: #fff;
  border-radius: 17px;
}
.divider {
  height: 3px;
  width: 80px;
  background-color: #fff;
  margin: 12px auto 30px;
}
.draft-row {
  background-color: #fff;
  border-radius: 1em;
}
img.draft-item {
  max-height: 25vh;
}
.arrow15 {
  color: #1F2566;
  font-size: 1.5rem;
}
.blackbox-logo {
  background-color: #000;
  border-radius: 1em;
}
.title-block {
  border: 3px solid #1F2566;
  border-radius: 1em;
}
.title-block img {
  border-radius: 0.9em;
}
.letter-back {
  background: #1F2566;
  background: linear-gradient(212deg, rgba(31, 37, 102, 1) 0%, rgba(20, 24, 70, 1) 90%);
  border-radius: 1em;
}
.letter-back img {
  box-shadow: -10px 10px 8px #02082C;
  max-height: 475px;
}
.final-15-box {
  border: 3px solid #1F2566;
  background-color: #fff;
  border-radius: 1em;
}
.final-15-box .divider {
  background-color: #1F2566;
  width: 100px;
}
/*turtle*/
body.turtle-body {
  background-color: #fff;
}
.turtle-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.turtle-section {
  margin: 4rem auto;
  max-width: 1100px;
}
.turtle-section h3 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  text-align: center;
  letter-spacing: 0.05em;
}
.turtle-section .divider {
  height: 3px;
  width: 35px;
  background-color: rgba(29, 53, 21, 0.784);
  margin-bottom: 1rem;
}
.turtle-section img {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
}
.carousel-item img {
  max-width: 70%;
  margin: 0 auto;
}
.carousel-control-prev,
.carousel-control-next {
  width: 4%;
}
#turtlePhotos .carousel-item img {
  max-width: 90%;
}
.turtle-body footer {
  background-color: #fff;
}
@media (min-width: 768px) {
  .turtle-section img {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .turtle-section img {
    max-width: 250px;
  }
}

/*barca*/
body.barca-body {
  background-color: #d9e0e1;
}
.barca-container {
  max-width: 1000px;
  padding: 2rem 1rem;
}
.barca-container section {
  margin-bottom: 4rem;
}

.barca-image-idea img {
  max-height: 30vh;
}
.barca-image-frame {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 12px;
  background: #f5f5f5;

  display: flex;
  align-items: center;
  justify-content: center;
}
.barca-image-frame img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.barca-figure {
  width: 100%;
}
.barca-figure figcaption {
  margin-top: 0.75rem;
}
.barca-figure figcaption a {
  color: var(--wine);
}
.barca-body .divider {
  height: 2px;
  width: 55px;
  background-color: var(--coral);
}
.barca-container h4 {
  font-weight: 600;
}
img.barca-image-final {
  max-height: 90vh;
}
@media (max-width: 768px) {
  .barca-container section {
    margin-bottom: 3rem;
  }
}

/*nocturnal*/
body.nocturnal-body {
    background-color: var(--navy);
    color: var(--powder)
}
body.nocturnal-body .btn-pill {
  background-color: var(--navy);
}
body.nocturnal-body button.back-btn{
  color:var(--coral)
}
body.nocturnal-body footer {
    background-color: var(--navy);
    color: var(--lav);
    box-shadow: inset 0px 3px 10px #020012c0;
}
body.nocturnal-body footer a {
  color: var(--coral);
}
.opacity-90 {
  opacity: 0.9;
}
/*materials list*/
.materials-list {
  columns: 1;
}
@media (min-width: 768px) {
  .materials-list {
    columns: 2;
  }
}
/*flora*/
  img.final-flora {
  max-height: 95vh;
  max-width: 65vw;
}
/*footer*/
footer {
  background-color: var(--powder);
  color: var(--wine);
  box-shadow: inset 0px 3px 10px #bfbfbf94;
}
footer .divider {
  height: 1px;
  width: 72%;
  background-color: var(--wine);
  margin: 12px auto 20px;
}
.meicon {
  max-height: 50px;
}
footer p {
  line-height: 70%;
}
footer a {
  text-decoration: none;
  color: var(--coral);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
footer a:hover {
  text-decoration: underline;
}